{
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "*.scss", "options": { "parser": "scss" } }
  ]
}
