$content-width: 1200px;
$border-radius: 8px;

$black: #1f1f1f;
$background-1: $black;
$background-2: $black;
$primary-color: #313131;
$secondary-color: #292929;
$accent-color: #f00;
$accent-color-dark: #900;
$text-color: rgb(235, 235, 235);

$font-lg: 24px;
$font-md: 20px;
$font-sm: 16px;

@function interpolate($start, $end, $ratio) {
  @return $start + ($end - $start) * $ratio;
}
