// import partial constants
@import './../style/constants.scss';
@import './../style/fonts.scss';

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, $background-2, $background-1);
}

a {
  text-decoration: none;
  color: $text-color;
  background: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
