// import partial constants
@import './../style/constants.scss';
@import './../style/fonts.scss';

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, $background-2, $background-1);
  color: $text-color;
}

a {
  text-decoration: none;
  background: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
